body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: plum;
    color: rgb(112, 25, 54);
    padding: 3rem;
    margin: auto;
}

img {
    max-width: 100%;
    padding: 1rem;
    border-radius: 30px;
    flex-basis: 60%;
}

nav a {
    color: rgb(118, 70, 91);
    text-decoration: none;
    text-align: right;
    display: flex;
   justify-content: flex-end;
   font-size: 23px;

}

nav a:hover{
    color: rgb(115, 1, 70);
}

a:hover {
    color: rgb(71, 2, 25);
}

footer {
    text-align: center;
    font-size: 10px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px rgb(255, 207, 253);
}

h2{
    text-align: center;
    text-shadow: 2px 2px rgb(255, 207, 253);
    
}

.gallery {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

p {
    font-size: 15px;
}



