body {
    margin: auto;
    padding: 3rem;
    background-color: rgb(250, 208, 250);
    background-image: url("https://th.bing.com/th/id/R.bb3657a3e35bfaf3a490b6474c28daaf?rik=EdplCs6qVZyl%2bw&pid=ImgRaw&r=0");
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(152, 0, 46);
    text-align: center;
}

a {
    color: rgb(152, 0, 46);
    text-decoration: dotted;
    text-align: center;
}

a:hover {
    color: rgb(249, 206, 255);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(52, 16, 86);
    text-decoration: underline;
    text-align: center;
}

p {
    text-align: center;
    color: rgb(14, 34, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

h2 {
    text-align: center;
    color: rgb(54, 16, 86);
    text-decoration: overline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h3 {
    color: rgb(14, 34, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    text-align: center;
}

img {
    max-width: 100%
}

