@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 12px;
    color: #222;
    background-color: #fbfbfb;
}

h3 {
    color: tomato;
}

p {
    line-height: 1.75;
}

img {
    width: 100%;
    display: block;
}

footer {
    text-align: center;
}